// // @import 'https://fonts.googleapis.com/css?family=Great+Vibes|Lato';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lato');

body {
    background-image: url('Images/fullbg.jpg');
    background-size: cover;
    font-family: Lato;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px}

nav, li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;}

.titles {
    font-family: 'Great Vibes', 'script';
}

.nav-links {
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.header_places { 
   position: relative; 
   width: 100%;
}

.container { 
   position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
}

.tab--container {
  display: flex;
  align-items: center;
  justify-content:  center;
}

.tab {
  margin: 0 20px;
}

.tab--active {
  background-color: red;
}

.hidden {
  display: none;
}


/*.line1 {
    top: 200px; 
    width: 100%;
}

.line2 {
    position: relative; 
    width: 100%;
}*/